<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>练习1 表单</title>
    <script src="./JS/vue.js"></script>
    <style>
      #app{

          margin:0px auto;
          display: flex;
          justify-content: center;
          align-items: center;

      }
      .biaodan{
        width: 800px;
        
      }
  </style>
</head>
<body>
  <div id="app">
    <fieldset class="biaodan" align="center">
    <legend>学生信息</legend>

    姓名：<input type="text" v-model="name" placeholder="请输入姓名"><br/>
    班级:<input type="text" v-model="className" placeholder="请输入班级"><br/>
    专业:<input type="text" v-model="specialty" placeholder="请输入专业"></br/>
    <input type="button" value="提交">
    <input type="reset" value="重置"></br/>
    <h3>{{specialty}}专业,{{className}}班的{{name}}同学,您好！</h3>
  </fieldset>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            name:'zhouli',
            className:'',
            specialty:''
        }

    })
</script>

</body>
</html>